body {
  background-color: azure;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: beige;
  height: 760px;
  width: 760px;
  display: flex;
  opacity:1;
  transition:1s;
  flex-wrap: wrap;
}

.greeting {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  align-items: center;
  height: 600px;
  width: 800px;
  background-color: aqua;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

h1 {
  text-transform: uppercase;
  color: #fff;
  font-family: sans-serif;
  font-size: 60px;
  text-shadow: 0 5px 20px rgba(0,0,0,.5);
  letter-spacing: 5px;
  transition: 0.5s;
}

.startBtn {
  height: 50px;
  font-size: 20px;
  font-family: sans-serif;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.greeting img {
  height: 250px;
  width: 250px;
}

.hidden {
  opacity:0;
}

.finished-box {
  width: 100vw;
  height: 100vh;
  background-color: yellow;
  z-index: 10;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.finished {
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 500px;
  background-color: aqua;
}

.card {
  height: 180px;
  width: 180px;
  cursor: pointer;
  background-color: aqua;
  margin: 5px;
  transform-style: preserve-3d;
  transition: 0.5s;
  transform: rotateX(0deg);

}

.card.toggle-on {
  transform: rotateX(-180deg);
}

.card .front {
  background-color: aqua;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 0.5s;
}

.card .back {
  background-color: aquamarine;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: 0.5s;
}

.card img {
  height: 150px;
  width: 150px;
  margin: 14px;
}
